<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
  <virtualType name="DollsKill\CustomerBlackList\Model\ResourceModel\CustomerBlackList\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
    <arguments>
      <argument name="mainTable" xsi:type="string">customer_blacklist</argument>
      <argument name="resourceModel" xsi:type="string">DollsKill\CustomerBlackList\Model\ResourceModel\CustomerBlackList\Collection</argument>
    </arguments>
  </virtualType>
  <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
    <arguments>
      <argument name="collections" xsi:type="array">
        <item name="customerblacklist_customerblacklist_data_source" xsi:type="string">DollsKill\CustomerBlackList\Model\ResourceModel\CustomerBlackList\Grid\Collection</item>
      </argument>
    </arguments>
  </type>
  <type name="Magento\Checkout\CustomerData\Cart">
    <plugin name="cart_message" type="DollsKill\CustomerBlackList\Plugin\Checkout\CustomerData\Message"/>
  </type>
</config>