<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../../lib/internal/Magento/Framework/App/etc/routes.xsd">
    <router id="admin">
        <route id="buyergst" frontName="buyergst">
            <module name="Codilar_BuyerGst" />
        </route>
    </router>
</config>