<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Checkout\Model\Cart">
        <plugin name="litmus7-log-add-to-cart"
            type="Litmus7\OTPLogin\Plugin\Model\Checkout\Cart"
            sortOrder="10"
            disabled="false"/>
    </type>
    
    <preference for="Magento\Cms\Controller\Noroute\Index" type="Litmus7\OTPLogin\Controller\Noroute\Index" />

     <type name="Magento\Cms\Controller\Noroute\Index">
        <plugin name="Mageplaza_HelloWorld_Plugin" type="Litmus7\OTPLogin\Plugin\Noroute" sortOrder="10" disabled="false"  />
    </type>
</config>